/* You can add global styles to this file, and also import other style files */
.black-bg {
  background-color: black !important;
}

.red-bg {
  background-color: red !important;
}

.green-bg {
  background-color: green !important;
}

.yellow-bg {
  background-color: yellow !important;
}

.blue-bg {
  background-color: blue !important;
}

.violet-bg {
  background-color: violet !important;
}

.white-bg {
  background-color: white !important;
}

label {
  display: inline-block;
}

.clickable {
  cursor: pointer;
}

.h-90 {
  height: 90%;
}

.thin-grey-border {
  border: 1px solid #ccc;
}

.thin-red-border {
  border: 1px solid red;
}

.max-w-25 {
  max-width: 25%;
}

.max-w-75 {
  max-width: 75%;
}

.remove-modal-background .modal-content {
  border:none !important;
  background: transparent !important;
}
