/* You can add global styles to this file, and also import other style files */
.black-bg {
  background-color: black !important;
}

.red-bg {
  background-color: red !important;
}

.green-bg {
  background-color: green !important;
}

.yellow-bg {
  background-color: yellow !important;
}

.blue-bg {
  background-color: blue !important;
}

.violet-bg {
  background-color: violet !important;
}

.white-bg {
  background-color: white !important;
}

.grey-bg {
  background-color: #e9e3e39a !important;
}

label {
  display: inline-block;
}

.clickable {
  cursor: pointer !important;
}

@for $i from 0 through 100 {
  .w-#{$i} {
    width: $i * 1% !important;
  }
  .h-#{$i} {
    height: $i * 1% !important;
  }
  .max-w-#{$i} {
    max-width: $i * 1% !important;
  }
  .max-h-#{$i} {
    max-height: $i * 1% !important;
  }
  .min-w-#{$i} {
    min-width: $i * 1% !important;
  }
  .min-h-#{$i} {
    min-height: $i * 1% !important;
  }
}

.thin-grey-border {
  border: 1px solid #ccc;
}

.thin-black-border {
  border: 1px solid black;
}

.thin-red-border {
  border: 1px solid red;
}

.z-index-10 {
  z-index: 10 !important;
}

.remove-modal-background .modal-content {
  border:none !important;
  background: transparent !important;
}


/*
 popover crap
 popovers are used in select-activity component
*/
.custom-popover .popover-arrow {
  display: none;
  background-color: transparent;
}

.custom-popover .popover-body {
  background-color: #ECECEC !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  padding: 10px;
}

.custom-popover {
  border: none !important;
}

.popover-arrow::after, .popover-arrow::before {
  border-bottom-color:#e2e2e2 !important; /* previously #ECECEC */
  border-top-color:#e2e2e2 !important;    /* previously #ECECEC */
}

.mural-title { /* used in MuralsComponent, MuralsListComponent and MuralsCategoryComponent*/
  position: absolute;
  bottom:0%;
  display: flex;
  justify-content: start;

  max-height: 25%;
  min-width: 100%;
  overflow: hidden;

  color: black;
  background-color: white;
  user-select: none;
}

.thumbnail-container { /* used in MuralsComponent, MuralsListComponent and MuralsCategoryComponent*/
  aspect-ratio: 3/2;
}


.loading-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 6px solid #ccc;
  border-top: 6px solid #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.linethrough-on-hover:hover{
  text-decoration: line-through;
  cursor: pointer;
}
