/* You can add global styles to this file, and also import other style files */
.black-bg {
  background-color: black !important;
}

.red-bg {
  background-color: red !important;
}

.green-bg {
  background-color: green !important;
}

.yellow-bg {
  background-color: yellow !important;
}

.blue-bg {
  background-color: blue !important;
}

.violet-bg {
  background-color: violet !important;
}

.white-bg {
  background-color: white !important;
}

.grey-bg {
  background-color: #e9e3e39a !important;
}

label {
  display: inline-block;
}

.clickable {
  cursor: pointer !important;
}

.h-30 {
  height: 30% !important;
}

.h-60 {
  height: 60% !important;
}

.h-90 {
  height: 90% !important;
}

.w-20 {
  width: 20% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.thin-grey-border {
  border: 1px solid #ccc;
}

.thin-black-border {
  border: 1px solid black;
}

.thin-red-border {
  border: 1px solid red;
}

.max-w-25 {
  max-width: 25% !important;
}

.max-w-75 {
  max-width: 75% !important;
}

.max-w-20 {
  max-width: 20% !important;
}

.min-w-20 {
  min-width: 20% !important;
}

.min-w-100 {
  min-width: 100% !important;
}

.max-w-100 {
  max-width: 100% !important;
}

.max-h-90 {
  max-height: 90% !important;
}

.z-index-10 {
  z-index: 10 !important;
}

.remove-modal-background .modal-content {
  border:none !important;
  background: transparent !important;
}


/*
 popover crap
 popovers are used in select-activity component
*/
.custom-popover .popover-arrow {
  display: none;
  background-color: transparent;
}

.custom-popover .popover-body {
  background-color: #ECECEC !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  padding: 10px;
}

.custom-popover {
  border: none !important;
}

.popover-arrow::after, .popover-arrow::before {
  border-bottom-color:#e2e2e2 !important; /* previously #ECECEC */
  border-top-color:#e2e2e2 !important;    /* previously #ECECEC */
}

.mural-title { /* used in MuralsComponent, MuralsListComponent and MuralsCategoryComponent*/
  position: absolute;
  bottom:0%;
  display: flex;
  justify-content: start;

  max-height: 25%;
  min-width: 100%;
  overflow: hidden;

  color: black;
  background-color: white;
  user-select: none;
}

.thumbnail-container { /* used in MuralsComponent, MuralsListComponent and MuralsCategoryComponent*/
  aspect-ratio: 3/2;
}

