

<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="h5 mb-0" *ngIf="activity">{{activity.name}}</h2>
    <h2 class="h5 mb-0" *ngIf="!activity">Loading</h2>
    <div>
      <button class="btn btn-warning mx-1" *ngIf="activity && this.owned && !this.activity.hasRoute()" (click)="this.open(create_route)"><i class="fa-solid fa-plus"></i> Create Route</button>
      <button class="btn btn-primary mx-1" *ngIf="activity && this.owned && !this.activity.hasRoute() && this.routes.length!=0" (click)="open(routeModal)"><i class="fa-regular fa-square-plus"></i> Add To Route</button>
      <button class="btn btn-warning mx-1" *ngIf="activity && this.owned && this.activity.hasRoute()" (click)="open(routeModal)"><i class="fa-solid fa-arrows-rotate"></i> Change Route</button>
      <button class="btn btn-info mx-1"    *ngIf="activity && this.owned" (click)="open(visibilityModal)"><i class="fa-solid fa-eye"></i> Change Visibility</button>
      <button class="btn btn-danger mx-1"  *ngIf="activity && this.owned" (click)="deleteActivity()"><i class="fa-solid fa-trash"></i> Delete</button>

    </div>
  </div>
  <!-- Tabs -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
          <button class="nav-link active" id="summary-tab" data-bs-toggle="tab" data-bs-target="#summary" type="button" role="tab" aria-controls="summary" aria-selected="true">Summary</button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link" id="study-tab" data-bs-toggle="tab" data-bs-target="#study" type="button" role="tab" aria-controls="study" aria-selected="false">Study</button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link" id="segments-tab" data-bs-toggle="tab" data-bs-target="#segments" type="button" role="tab" aria-controls="segments" aria-selected="false">Segments</button>
      </li>
  </ul>

  <!-- Tab Content -->
  <div class="tabs-container">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active d-flex justify-content-between align-items-top " id="summary" role="tabpanel" aria-labelledby="summary-tab">
        <div class="mx-2">
          <h5>Overview</h5>
          <table class="table custom-table table-sm">
            <tbody>
              <tr *ngFor="let stat of stats" class="position-relative">
                <td class="fw-bold mx-1">{{ stat.name }}:</td>
                <td class="mx-1">{{ stat.value }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="flex-grow-1 h-90 mx-2">
          <h5>Map</h5>
          <div class="thin-grey-border w-100 h-100" id="map">

          </div>
        </div>
      </div>



      <div class="tab-pane fade" id="study" role="tabpanel" aria-labelledby="study-tab">
        <app-activity-study *ngIf="this.activity" [activity]="this.activity"></app-activity-study>
      </div>

      <div class="tab-pane fade" id="segments" role="tabpanel" aria-labelledby="segments-tab">
        <p>Segments content goes here...</p>
      </div>
    </div>
  </div>
</div>



<!-- Modals -->
<ng-template #create_route> <!-- let-modal -->
  <div class="modal-header d-flex justify-content-between">
    <h5 class="modal-title">Create Route From This Activity</h5>
    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <div class="mb-3">
      <label for="routeName" class="form-label">Route Name:</label>
      <input type="text" id="routeName" name="routeName" class="form-control" value="Route from Activity {{activity.id}}" #routeName>
    </div>

    <div class="mb-3">
      <label for="routeDesc" class="form-label">Route Description:</label>
      <textarea id="routeDesc" name="routeDesc" class="form-control" #routeDesc></textarea>
    </div>

    <div class="mb-3">
      <label for="routeDistance" class="form-label">Distance:</label>
      <input type="number" id="routeDistance" name="routeDistance" class="form-control" [value]="activity.summary?.totalDistance?.toFixed(2)" #routeDistance>
    </div>

    <div class="mb-3">
      <label for="routeElevation" class="form-label">Elevation:</label>
      <input type="number" id="routeElevation" name="routeElevation" class="form-control" [value]="activity.summary?.elevationGain?.toFixed(2)" #routeElevation>
    </div>

    <p>The route will be created with the same coordinates as this activity.</p><p>Check everything is correct, and click create when ready.</p>

  </div>

  <div class="modal-footer">

    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="createRoute(routeName.value, routeDesc.value, routeDistance.value, routeElevation.value)"><i class="fa-solid fa-plus mx-1"></i>Create</button>
  </div>
</ng-template>


<ng-template #routeModal> <!-- let-modal -->
  <div>
  <div class="modal-header d-flex justify-content-between">
    <h5 class="modal-title">Select a Route</h5>
    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <select [(ngModel)]="selectedRoute" #selectForRoute class="form-select" (change)="selectedRouteChange()">
      <option value="-1">-- Select a route --</option>
      <option *ngFor="let x of routes" [value]="x.id">
        {{ x.name }} ({{ formatDistanceExtender(x.totalDistance) }})
      </option>
    </select>
      <div class="thin-grey-border fixed-height-450 mt-3" id="routeMap" *ngIf="selectedRoute!=-1"></div>

  </div>

  <div class="modal-footer">

    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="submitChangeRoute(selectForRoute.value)"><i class="fa-solid fa-floppy-disk"></i> Confirm</button>
  </div>
</div>
</ng-template>

<ng-template #visibilityModal> <!-- let-modal -->
  <div>
  <div class="modal-header d-flex justify-content-between">
    <h5 class="modal-title">Manage Visibility</h5>
    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <select [(ngModel)]="currentVisibility" #selectForVisibility class="form-select">
      <option *ngFor="let x of visibilities" [value]="x">
        {{ x }}
      </option>
    </select>
    <div class="mt-3 d-flex flex-column align-items-start" id="allowedRoutes" *ngIf="currentVisibility=='MURAL_SPECIFIC'">
      <div>
        <input type="text" class="form-control d-inline-block w-auto mx-1" #allowedMuralsInput placeholder="Enter item" />
        <button class="btn btn-primary mx-1" (click)="addAllowedMural(allowedMuralsInput.value);allowedMuralsInput.value=''">Send</button>
      </div>

      <ul class="mt-2 ">
        <li *ngFor="let item of allowedMuralsList; let i = index" (click)="allowedMuralsList.splice(i,1)" class="linethrough-on-hover">{{ item }}</li>
      </ul>
    </div>

  </div>

  <div class="modal-footer">

    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="submitChangeVisibility(selectForVisibility.value)"><i class="fa-solid fa-floppy-disk"></i> Confirm</button>
  </div>
</div>
</ng-template>
