<div class="card col-md-10">

  <div class="card-header"><h5 class="card-title">Start by uploading a GPX file</h5></div>
  <div class="card-body">
    <div class="d-flex flex-column gap-2 align-items-center">
      <input type="file" class="btn btn-primary col-md-6" accept=".gpx" (change)="onFileSelected($event)">
    </div>
  </div>

  <div class="card-header" style="border-top: 1px solid #D2D2D2;"><h5 class="card-title">Or syncing to Strava</h5></div>
  <div class="card-body">
    <div class="d-flex flex-column gap-2 align-items-center">
      <button type="button" class="btn btn-primary col-md-6" data-bs-toggle="modal" data-bs-target="#loginModal">Sync with Strava</button>
    </div>
  </div>
</div>
