<div class="container-fluid d-flex align-items-center justify-content-center w-100 h-75" id="bigContainer">
  <!--left-->
  <div class="d-flex flex-column justify-content-center ms-5 me-3 w-25 h-100">
    <!-- Header Section -->
    <div class="d-flex justify-content-between align-items-center mb-1">
      <h2 class="h5 mb-0">Routes</h2>
      <div>
        <button class="btn btn-warning mx-1" (click)="openCompareModal(compareModal, true)" *ngIf="selectedRoute!=null"><i class="fa-solid fa-code-compare"></i></button>
        <button class="btn btn-info mx-1" *ngIf="selectedRoute!=null && currentVis!='PUBLIC'" (click)="open(changeVisModal, true, false)"><i class="fa-solid fa-eye"></i></button>
        <button class="btn btn-danger mx-1" *ngIf="this.selectedRoute!=null && currentVis!='PUBLIC'" (click)="deleteSelectedRoute()" id="btn-delete-route"><i class="fa-solid fa-trash"></i></button>

        <button class="btn btn-primary mx-1" (click)="open(filterModal, true)"><i class="fa-solid fa-filter"></i></button>
      </div>
      </div>

    <!-- Scrollable Table -->
    <div class="white-bg thin-grey-border h-75">
      <div class="table-responsive h-100">
        <table class="table table-hover table-bordered table-auto">
          <thead class="table-dark">
            <tr>
              <th class="first-col position-sticky top-0">
                <input type="radio" name="routeGroup" class="form-check-input" [checked]="selectedRoute==null" (change)="select(null)">
              </th>
              <th *ngFor="let col of columns; last as isLast" [class.last-col]="isLast" class="position-sticky top-0">{{ col }}</th>
            </tr>
          </thead>
          <tbody *ngIf="!loading; else loadingTemplate">
            <tr *ngIf="allRoutes==null || allRoutes.size == 0">
              <td [attr.colspan]="columns.length+1" class="text-center">
                No routes yet. You can create one by selecting a specific activity and creating a route from it.
              </td>
            </tr>
            <tr *ngIf="allRoutes!=null && shownRoutes.size == 0  && allRoutes.size!=0">
              <td [attr.colspan]="columns.length+1" class="text-center">
                There are no routes in this category. You can check other categories by enabling them in the filter icon (<i class="fa-solid fa-filter"></i>) above.
              </td>
            </tr>
            <tr *ngFor="let x of shownRoutes | keyvalue" >
              <td class="first-col">
                <input type="radio" name="routeGroup" class="form-check-input" [checked]="selectedRoute?.id===x.key" (change)="select(x.key)">
              </td>
              <td *ngFor="let col of columns; last as isLast" [class.last-col]="isLast">{{ getXFromY(col, x.value) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--right-->
  <div class="d-flex flex-column justify-content-center ms-3 me-5 w-75 h-100" *ngIf="selectedRoute" >
    <!--up (header)-->
    <div class="d-flex justify-content-between align-items-center  mx-2 mb-1 thin-border-bottom">
      <h2 class="h5 mb-1 mx-2" *ngIf="selectedRoute" id="header-route-name">Selected Route: {{selectedRoute.name}}</h2>
      <button class="btn btn-danger invisible-btn"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <!--down (body)-->
    <div class="d-flex justify-content-start mx-2 h-75 ">
      <!--left-->
      <div class="d-flex flex-column flex-grow-1 me-4 max-w-75">
        <!--up-->
        <div class="d-flex justify-content-between md-2">
          <div class="mx-1 text-wrap" id="text-route-description">
            <span class="fw-bold">Desc:</span> {{ selectedRoute.description }}
          </div>
          <div class="mx-1" id="text-route-distance">
            <span class="fw-bold text-nowrap">Total Distance:</span> {{formatDistance(selectedRoute.totalDistance)}}
          </div>
        </div>
        <!--down/map-->
        <div class="mt-2 thin-grey-border w-100 h-100 round-corners" id="map">
        </div>
      </div>

      <!--right-->
      <div class="d-flex flex-column mx-2 max-w-25 thin-border-left h-100">
        <div class="d-flex align-items-end justify-content-between mb-1">
          <h4 class="h5">Activities:</h4>
          <button class="btn btn-primary" (click)="openAddActivity(add_activity)"><i class="fa-solid fa-plus"></i></button>
        </div>
        <div class="white-bg thin-grey-border h-90">
          <div class="table-responsive h-100">
            <table class="table table-hover table-bordered table-auto">
              <thead class="table-dark">
                <tr>
                  <th *ngFor="let col of activityColumns; first as isFirst" [class.first-col]="isFirst" class="position-sticky top-0">
                    {{ col }}
                  </th>
                  <th class="last-col text-center" class="position-sticky top-0"><i class="fa-solid fa-trash"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let x of selectedRoute.activities" >
                  <td *ngFor="let col of activityColumns; first as isFirst"[class.first-col]="isFirst">
                    {{ getXFromYAct(col, x) }}
                  </td>
                  <td class="last-col"><button class="btn btn-danger" (click)="removeActivity(x.id)"><i class="fa-solid fa-trash"></i></button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>




<!-- Modal -->
<ng-template #add_activity> <!-- let-modal -->
  <div class="modal-header d-flex justify-content-between">
    <h5 class="modal-title">Add Activity to Route</h5>
    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <app-activity-select [submit]="submit" (emitter)="addActivitiesToRoute($event)" [activities]="allActivities" [isChild]="true"></app-activity-select>
  </div>
</ng-template>

<ng-template #filterModal> <!-- let-modal -->
  <div class="modal-header d-flex justify-content-between">
    <h5 class="modal-title">Routes to display</h5>
    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">

    <div class="form-check">
      <div>
        <input class="form-check-input" type="checkbox" id="PUBLIC" value="PUBLIC" (change)="onCheckboxChange($event)" [checked]="visibilitiesToDisplay.includes('PUBLIC')">
        <label class="form-check-label" for="PUBLIC"> Public </label>
      </div>

      <div>
      <input class="form-check-input" type="checkbox" id="MURAL_SPECIFIC" value="MURAL_SPECIFIC" (change)="onCheckboxChange($event)" [checked]="visibilitiesToDisplay.includes('MURAL_SPECIFIC')">
      <label class="form-check-label" for="MURAL_SPECIFIC"> Mural Specific </label>
      </div>

      <div>
      <input class="form-check-input" type="checkbox" id="PRIVATE" value="PRIVATE" (change)="onCheckboxChange($event)" [checked]="visibilitiesToDisplay.includes('PRIVATE')">
      <label class="form-check-label" for="PRIVATE"> Private </label>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.dismiss()">Close</button>
  </div>
</ng-template>

<ng-template #changeVisModal> <!-- let-modal -->
  <div class="modal-header d-flex justify-content-start">
    <h5 class="modal-title">Change visibility of selected route</h5>
  </div>
  <div class="modal-body">
    <div class="form-check">
      <select class="form-select" [(ngModel)]="currentVis">
        <option value="PUBLIC">Public</option>
        <option value="MURAL_SPECIFIC">Mural Specific</option>
        <option value="PRIVATE">Private</option>
      </select>
    </div>
    <div class="mt-3 d-flex flex-column align-items-start" id="allowedRoutes" *ngIf="currentVis=='MURAL_SPECIFIC'">
      <div>
        <input type="text" class="form-control d-inline-block w-auto mx-1" #allowedMuralsInput placeholder="Enter item" />
        <button class="btn btn-primary mx-1" (click)="addAllowedMural(allowedMuralsInput.value);allowedMuralsInput.value=''">Send</button>
      </div>

      <ul class="mt-2 ">
        <li *ngFor="let item of allowedMuralsList; let i = index" (click)="allowedMuralsList.splice(i,1)" class="linethrough-on-hover">{{ item }}</li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="changeVis()">Save</button>
  </div>
</ng-template>

<ng-template #compareModal let-modal> <!-- let-modal -->
  <div class="modal-header d-flex justify-content-start">
    <h5 class="modal-title">Select activities in this route you want to compare</h5>
  </div>
  <div class="modal-body">
    <div>Selected activities will be compared. By default all activities are selected.</div>
    <div class="form-check">
      <div *ngFor="let act of selectedRoute!.activities"><label for="act{{act.id}}-checkbox"><input type="checkbox" class="mx-1" (change)="toggleCompare(act.id)" id="act{{act.id}}-checkbox" [checked]="actsToCompare.has(act.id)">{{act.name}}</label></div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="actsToCompare.clear()" [disabled]="actsToCompare.size==0">Deselect all</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="compareSelected(modal)" [disabled]="actsToCompare.size==0">Compare selected</button>
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <tbody id="loading">
    <tr>
      <td [attr.colspan]="columns.length + 1" class="text-center">
        <div class="spinner-border mt-4" role="status"></div>
        <div class="mb-4">Loading routes...</div>
      </td>
    </tr>
  </tbody>
</ng-template>
