<div class="custom-alert" *ngIf="type!='loading-light' && type!='loading-heavy'">
  <div class="fw-bold mb-2" id="header-alert">{{ title }} <span *ngIf="times>1"> (x{{ times }}) </span></div>
  <div class="alert-body mb-5">
    <div *ngFor="let m of messages">{{ m }}</div>
    <input type="text" [placeholder]="placeholder" *ngIf="type=='inputConfirm'" [(ngModel)]="text" id="input-alert-text">
  </div>
  <div class="d-flex justify-content-end">
    <button type="button" class="alert-button mx-1" (click)="confirm()" *ngIf="type=='confirm' || type=='inputConfirm'" id="btn-confirm">{{ accept }}</button>
    <button type="button" class="alert-cancel-button mx-1" (click)="dismiss()" *ngIf="type=='confirm' || type=='inputConfirm'" id="btn-cancel">{{ cancel }}</button>

    <button type="button" class="alert-button " (click)="dismiss()" *ngIf="type=='alert'" [id]="btnDismissAlert">{{ accept }}</button>
  </div>
</div>


<div class="loading-backdrop" *ngIf="type=='loading-heavy'">
  <div class="custom-alert">
    <div class="fw-bold mb-2">{{ title }}</div>
    <div class="alert-body mb-5">
      {{ messages[0] }}
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div class="spinner"></div>
    </div>
  </div>
</div>

<div class="loading-backdrop" *ngIf="type=='loading-light'">
  <div class="spinner"></div>
</div>
