<div class="custom-alert" *ngIf="type!='loading-light' && type!='loading-heavy'">
  <div class="fw-bold mb-2">{{ title }}</div>
  <div class="alert-body mb-5">
    {{ message }}
    <input type="text" [placeholder]="placeholder" *ngIf="type=='inputConfirm'" [(ngModel)]="text">
  </div>
  <div class="d-flex justify-content-end">
    <button type="button" class="alert-button mx-1" (click)="confirm()" *ngIf="type=='confirm' || type=='inputConfirm'">{{ accept }}</button>
    <button type="button" class="alert-cancel-button mx-1" (click)="dismiss()" *ngIf="type=='confirm' || type=='inputConfirm'">{{ cancel }}</button>

    <button type="button" class="alert-button " (click)="dismiss()" *ngIf="type=='alert'">OK</button>
  </div>
</div>


<div class="loading-backdrop" *ngIf="type=='loading-heavy'">
  <div class="custom-alert">
    <div class="fw-bold mb-2">{{ title }}</div>
    <div class="alert-body mb-5">
      {{ message }}
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div class="spinner"></div>
    </div>
  </div>
</div>

<div class="loading-backdrop" *ngIf="type=='loading-light'">
  <div class="spinner"></div>
</div>
