

<div class="d-flex justify-content-center align-items-center"><h1>Murals</h1></div>
<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="w-75 h-30 mt-1">
    <div class="d-flex justify-content-between my-1">
      <h4>Owned</h4>
      <div class="z-index-10">
        <button class="btn btn-warning mx-1" (click)="createMural()"><i class="fa-solid fa-plus"></i></button>
        <button class="btn btn-info ms-1" (click)="seeAllClickedMethod('owned')">see all</button>
      </div>
    </div>
    <div class="d-flex justify-content-start thin-grey-border position-relative grey-bg">
      <!--murales-->
      <div class="arrow-container arrow-container-left" *ngIf="ownedMuralsOffset>0">
        <img id="leftArrowOwned" src="../assets/left-arrow.png" alt="Left Arrow" class="h-50 arrow" (click)="clicked('owned', true)">
      </div>
      <div
        class="thumbnail-container mx-3 min-w-20 max-w-20 black-bg position-relative thin-black-border"
        *ngFor="let item of ownedMuralsWindow; let first=first;let last=last"
        [ngClass]="{'ms-5': first, 'me-5': last}"
        [routerLink]="['/murals', item.id, 'dashboard']"
        >
        <img [id]="'mural-'+item.id+'-thumbnail'" class="min-w-100 max-w-100" [src]="item.thumbnailUrl" (error)="errorLoadingImage($event)">
        <div class="mural-title">{{ item.name }}</div>
      </div>
      <div class="arrow-container arrow-container-right" *ngIf="ownedMurals && ownedMurals.length-ownedMuralsOffset>4">
        <img id="rightArrowOwned" src="../assets/right-arrow.png" alt="Right Arrow" class="h-50 arrow" (click)="clicked('owned', false)">
      </div>
    </div>
  </div>

  <div class="w-75 h-30 mt-2" >
    <div class="d-flex justify-content-between my-1">
      <h4>Member</h4>
      <button class="btn btn-info z-index-10" (click)="seeAllClickedMethod('member')">see all</button>
    </div>
    <div class="d-flex justify-content-start thin-grey-border position-relative grey-bg">
      <!--murales-->
      <div class="arrow-container arrow-container-left" *ngIf="memberMuralsOffset>0">
        <img id="leftArrowMember" src="../assets/left-arrow.png" alt="Left Arrow" class="h-50 arrow" (click)="clicked('member', true)">
      </div>
      <div
        class="thumbnail-container mx-3 min-w-20 max-w-20 black-bg position-relative thin-black-border"
        *ngFor="let item of memberMuralsWindow; let first=first;let last=last"
        [ngClass]="{'ms-5': first, 'me-5': last}"
        [routerLink]="['/murals', item.id, 'dashboard']"
        >
        <img [id]="'mural-'+item.id+'-thumbnail'" class="min-w-100 max-w-100" [src]="item.thumbnailUrl" (error)="errorLoadingImage($event)">
        <div class="mural-title">{{ item.name }}</div>
      </div>
      <div class="arrow-container arrow-container-right" *ngIf="memberMurals && memberMurals.length-memberMuralsOffset>4">
        <img id="rightArrowMember" src="../assets/right-arrow.png" alt="Right Arrow" class="h-50 arrow" (click)="clicked('member', false)">
      </div>
    </div>
  </div>

  <div class="w-75 h-30 mt-2">
    <div class="d-flex justify-content-between my-1">
      <h4>Discover</h4>
      <button class="btn btn-info z-index-10" (click)="seeAllClickedMethod('other')">see all</button>
    </div>
    <div class="d-flex justify-content-start thin-grey-border position-relative grey-bg">
      <!--murales-->
      <div class="arrow-container arrow-container-left" *ngIf="otherMuralsOffset>0">
        <img id="leftArrowDiscover" src="../assets/left-arrow.png" alt="Left Arrow" class="h-50 arrow" (click)="clicked('other', true)">
      </div>
      <div
        class="thumbnail-container mx-3 min-w-20 max-w-20 black-bg position-relative thin-black-border h-90 max-h-90"
        *ngFor="let item of otherMuralsWindow; let first=first;let last=last"
        [ngClass]="{'ms-5': first, 'me-5': last}"
        [routerLink]="['/murals', item.id, 'dashboard']"
        >
        <img [id]="'mural-'+item.id+'-thumbnail'" class="min-w-100 max-w-100" [src]="item.thumbnailUrl" (error)="errorLoadingImage($event)">
        <div class="mural-title">{{ item.name }}</div>
      </div>
      <div class="arrow-container arrow-container-right"  *ngIf="otherMurals && otherMurals.length-otherMuralsOffset>4">
        <img id="rightArrowDiscover" src="../assets/right-arrow.png" alt="Right Arrow" class="h-50 arrow"  (click)="clicked('other', false)">
      </div>
    </div>
  </div>
</div>
