<div class="card col-md-10">
  <div class="card-header"><h5 class="card-title">Alternatively, you can:</h5></div>
  <div class="card-body">
    <div class="d-flex flex-column gap-2 align-items-center">
      <button type="button" class="btn btn-primary col-md-6" (click)="openLoginModal()"   >log in</button>
      <button type="button" class="btn btn-primary col-md-6" (click)="openRegisterModal()">sign up</button>
      <p>or</p>
      <button type="button" class="btn btn-primary col-md-6" onclick="this.alertService.alert('Sorry, this function is not yet supported.')">upload a previous session</button>
    </div>
  </div>
</div>
