
<div class="d-flex flex-column justify-content-center align-items-center w-100 h-75">
  <h1 class="mb-4 very-big-text">Something went wrong!</h1>
  <!--Bottom / customizable part-->
  <div class="error-container d-flex justify-content-around align-items-center w-100">
    <h1 class="ginormous-numbers">{{ errorMessages[errorCode].code }}</h1>
    <div class="error-msg">
      <h1 class="normal-title">{{ errorMessages[errorCode].title }}</h1>
      <p class="normal-text text-wrap">{{ errorMessages[errorCode].message }}</p>
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary mx-2" (click)="goHome()"><i class="fa-solid fa-house me-1"></i> Home</button>
        <button class="btn btn-primary mx-2" (click)="goBack()"><i class="fa-solid fa-arrow-turn-up fa-rotate-270 me-1"></i> Go Back</button>
      </div>
    </div>
  </div>
</div>
