.active {
  background-color: blueviolet !important;
}

.navbar-icons {
  gap: 10px;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #555;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.icon-link:hover {
  background-color: #777;
}

.icon-link i {
  font-size: 20px;
}


.sidebar {
  height: calc(100vh - 96px);
  position: sticky;
  top:96px;
}

.navbar {
  position: sticky;
  top:0px;
  z-index: 10;
}
