<div class="vh-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ml-2" routerLink="/">ATRA</a>
    <div class="navbar-icons">
      <a routerLink="/home" class="icon-link">
        <img src="../assets/running.svg" class="v-75 w-75">
      </a>
      <a routerLink="/social" class="icon-link">
        <i class="fa-solid fa-user-group"></i>
        <!-- <i class="fa-solid fa-people-group"></i> -->
      </a>
      <a routerLink="/murals" class="icon-link">
        <i class="fa-regular fa-image fa-xl"></i>
        <!-- <i class="fa-solid fa-people-group"></i> -->
      </a>
    </div>
  </nav>
  <div class="d-flex vh-100">
    <div class="sidebar green-bg" *ngIf="showSideBar">
      <ul class="nav flex-column mx-2">
        <li class="nav-item">
          <a routerLink="/home" class="icon-link">
            <i class="fa-solid fa-house"></i>
          </a>
          <a routerLink="/activity-view" class="icon-link">
            <img src="../assets/study.svg" class="v-75 w-75">
          </a>
          <a routerLink="/activity-comparison" class="icon-link">
            <img src="../assets/compare.svg" class="v-100 w-100">
          </a>

        </li>
      </ul>
    </div>
    <div class="main-content flex-grow-1">

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
