.active {
  background-color: var(--navbar-icon-selected-bg-color) !important;
}

.navbar-icons {
  gap: 10px;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  color: var(--navbar-text-color);
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: var(--navbar-icon-bg-color);
  color: var(--navbar-text-color);
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.icon-link:hover {
  background-color: var(--navbar-icon-bg-color-hover);
}

.icon-link i {
  font-size: 20px;
}


.sidebar {
  height: calc(100vh - 96px);
  position: sticky;
  top:96px;
}

.navbar {
  position: sticky;
  top:0px;
  z-index: 10;
  background-color: var(--navbar-color);
  color: var(--navbar-text-color);
}

.sidebar {
  background-color: var(--sidebar-color);
}
