<div class="d-flex flex-column vh-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mx-2" routerLink="/">{{title}}</a>
    <div class="navbar-icons d-flex justify-content-between w-100">
      <div class="  d-flex">
        <a routerLink="/me/home" class="icon-link mx-1" [class.active]="this.isPrivateRoute()">
          <img src="../assets/running.svg" class="v-75 w-75">
        </a>
        <a routerLink="/social" class="icon-link mx-1">
          <i class="fa-solid fa-user-group" style="color: #000000;"></i>
          <!-- <i class="fa-solid fa-people-group"></i> -->
        </a>
        <a routerLink="/murals/" class="icon-link mx-1" [class.active]="this.isMuralRoute()">
          <i class="fa-regular fa-image fa-xl" style="color: #000000;"></i>
          <!-- <i class="fa-solid fa-people-group"></i> -->
        </a>
      </div>
      <div>
        <a routerLink="/me" class="icon-link mx-5" [class.active]="this.isProfileRoute()">
          <i class="fa-solid fa-user" style="color: #000000;"></i>
        </a>
      </div>
    </div>
  </nav>
  <div class="d-flex flex-grow-1">
    <div class="sidebar green-bg d-flex flex-column justify-content-between" *ngIf="showSideBar">
      <ul class="nav flex-column mx-2">
        <li class="nav-item">
          <a [routerLink]="[urlStart, 'home']" [routerLinkActive]="'active'" class="icon-link" *ngIf="!this.isMuralRoute()">
            <i class="fa-solid fa-house" style="color: #000000;"></i>
          </a>
          <!--house icon / back arrow from category. Leads to /murals-->
          <a [routerLink]="[urlStart]" [routerLinkActiveOptions]="{ exact: true }" class="icon-link" [routerLinkActive]="'active'" *ngIf="this.isMuralRoute()">
            <i class="fa-solid fa-house" style="color: #000000;" *ngIf="!isMuralRouteCategory() && !isMuralRouteSelected()"></i>
            <i class="fa-solid fa-arrow-left fa-2xl" style="color: #000000;" *ngIf="isMuralRouteCategory() || isMuralRouteSelected()"></i>
          </a>
          <!--house icon inside selected mural, leads to /murals/id/dashboard-->
          <a [routerLink]="[urlStart, 'dashboard']" class="icon-link" [routerLinkActive]="'active'" *ngIf="this.isMuralRoute() && this.isMuralRouteSelected()">
            <i class="fa-solid fa-house" style="color: #000000;"></i>
          </a>
          <a [routerLink]="[urlStart, 'activities']"  [routerLinkActive]="'active'" style="color: black;" class="icon-link" *ngIf="!this.isMuralRoute() || this.isMuralRouteSelected()">
            <i class="fa-solid fa-list" [ngStyle]="{'font-size':'40px'}" *ngIf="!isRouteStudy() && !isRouteCompare()"></i>
            <img src="../assets/study.svg" class="v-75 w-75" *ngIf="isRouteStudy()">
            <img src="../assets/compare.svg" class="v-100 w-100" *ngIf="isRouteCompare()">
          </a>
          <a [routerLink]="[urlStart, 'routes']" [routerLinkActive]="'active'" class="icon-link" *ngIf="!this.isMuralRoute() || this.isMuralRouteSelected()">
            <img src="../assets/map.svg" class="v-50 w-50">
          </a>
        </li>
      </ul>
      <ul class="nav flex-column mx-2">
        <li class="nav-item">
          <a (click)="fileInput.click()" class="icon-link">
            <i class="fa-solid fa-upload"></i>
          </a>
          <input type="file" #fileInput style="display: none" (change)="uploadFile($event)">
          <a (click)="linkWithStrava()" class="icon-link">
            <i class="fa-brands fa-strava"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="main-content flex-grow-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
