
<div class="container">
  <div class="row">
    <h1 class="d-flex justify-content-center align-items-center mb-5">Welcome to ATRA!</h1>
  </div>
  <div class="row">
    <!-- Left Column -->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <app-anon-init class="col-md-12"></app-anon-init>
    </div>
    <!-- Right Column -->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <app-user-init class="col-md-12"></app-user-init>
    </div>
  </div>
</div>
