
<div class="container">
  <div class="row">
    <h1>Welcome to ATRA!</h1>
  </div>
  <div class="row">
    <!-- Left Column -->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <app-anon-init class="col-md-12"></app-anon-init>
    </div>
    <!-- Right Column -->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <app-user-init class="col-md-12"></app-user-init>
    </div>
  </div>
</div>

<!--
<script src="../js/login.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
