<div class="container py-4">
  <!-- Header Section -->
  <div class="d-flex justify-content-between align-items-center mb-3" *ngIf="showTopRow">
    <h2 class="h5 mb-0">Select an Activity</h2>
    <button class="btn btn-primary"><i class="fa-solid fa-filter"></i> Filter</button>
  </div>

  <!-- Scrollable Table -->
  <div class="table-responsive">
    <table class="table table-hover table-bordered table-auto">
      <thead class="table-dark">
        <tr>
          <th class="first-col">
            <input type="checkbox" class="form-check-input" [checked]="this.activities != null && this.selected.size===this.activities.length" (change)="selectAll()">
          </th>
          <th *ngFor="let col of columns">{{ col }}</th>
        </tr>
      </thead>

      <tbody *ngIf="!loading; else loadingTemplate">
        <tr *ngIf="activities==null || activities.length == 0">
          <td [attr.colspan]="columns.length+1" class="text-center">
            No activities yet. You can create one by clicking the upload icon (<i class="fa-solid fa-upload"></i>) bottom left.
          </td>
        </tr>
        <tr *ngFor="let activity of activities; let i = index"
          #popover="ngbPopover"
          [ngbPopover]="popoverContent"
          triggers="hover"
          [popoverContext]="{ activityId: activity.id }"
          [openDelay]="300"
          [positionTarget]="'.popover-target'+i"
          popoverClass="custom-popover"
        >
          <td>
            <input type="checkbox" class="form-check-input" [value]="activity.id" [checked]="this.selected.has(activity.id)" (change)="toggle(activity.id)">
          </td>
          <td *ngFor="let col of columns; first as isFirst;">
            <div *ngIf="col === 'Name'" class="popover-target{{i}}">{{ getXFromY(col, activity) }}</div>
            <div *ngIf="col !== 'Name'">{{ getXFromY(col, activity) }}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Footer Section -->
  <div class="d-flex justify-content-end mt-3">
    <button class="btn btn-warning mx-2" (click)="selectAll()">{{ shouldSelectAll ? "Select all" : "Deselect all"}}</button>
    <button class="btn btn-success" (click)="onSubmit()">{{submitText}}</button>
  </div>
</div>


<ng-template #popoverContent class="asdasd">
  <div #mapContainer class="map-container" id="popoverMap"></div>
</ng-template>

<ng-template #loadingTemplate>
  <tbody>
    <tr>
      <td [attr.colspan]="columns.length + 1" class="text-center">
        <div class="spinner-border mt-4" role="status"></div>
        <div class="mb-4">Loading activities...</div>
      </td>
    </tr>
  </tbody>
</ng-template>
