
<div class="modal-content green-bg">
  <div class="modal-header">
    <h1 class="modal-title" id="myModalLabel">Log in</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <form [formGroup]="loginForm">
    <div class="modal-body">
      <div class="form-floating mb-3 w-100">
        <input id="username" type="text" placeholder="Username" class="form-control" formControlName="username" required>
        <label for="username" class="mr-3 text-muted">Username</label>

        <small class="text-danger d-block" *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.value===''">Debes introducir un nombre de usuario</small>
      </div>

      <div class="form-floating mb-3 w-100">
        <input id="password" type="password" placeholder="Password" class="form-control" formControlName="password" required>
        <label for="password" class="mr-3 text-muted">Password</label>

        <small class="text-danger d-block" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.value===''">Debes introducir una contraseña</small>
      </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary mx-2" >Cancelar</button>
        <button type="button" class="btn btn-primary mx-2" (click)="onSubmit()">Iniciar sesión</button>
    </div>
  </form>
</div>


<!--
<script src="../js/login.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="container d-flex align-items-center justify-content-center vh-100 black-bg">
  <div class="row card col-md-4 d-flex flex-column align-items-center justify-content-center  violet-bg">

    <div class="card-header d-flex flex-column align-items-center justify-content-center"><h1>Log in</h1></div>

    <div class="card-body d-flex flex-column align-items-center justify-content-center">
      <div class="form-floating mb-3 w-100">
        <input id="username" type="text" placeholder="Username" class="form-control">
        <label for="username" class="mr-3 text-muted">Username</label>
      </div>

      <div class="form-floating mb-3 w-100">
        <input id="password" placeholder="Password" class="form-control">
        <label for="password" class="mr-3 text-muted">Password</label>
      </div>
    </div>

    <div class="card-footer">
      <form class="form-group d-flex align-items-center justify-content-center">
        <button type="submit" class="btn btn-danger mx-2" >Cancelar</button>
        <button type="submit" class="btn btn-primary mx-2">Iniciar sesión</button>
      </form>
    </div>

  </div>
</div>
-->
