name: Build and Deploy

on:
  workflow_dispatch:
  push:
    paths:
      - src/**
      - pom.xml
      - frontend/ATRA/src
      - frontend/ATRA/package.json
      - frontend/ATRA/angular.json
    branches:
      - main


permissions:
  id-token: write
  contents: read
jobs:
  build-back:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.project.outputs.tag }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Generate tag
        run: echo "tag=$(mvn -q help:evaluate -Dexpression=project.version -DforceStdout)" >> $GITHUB_OUTPUT
        id: project
      - name: Generate Docker image
        run: mvn spring-boot:build-image -DskipTests -Dspring-boot.build-image.imageName=${{ secrets.DOCKERHUB_USERNAME }}/atra-backend:${{ steps.project.outputs.tag }}
      - name: Login to DockerHub
        run: docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" -p "${{ secrets.DOCKERHUB_TOKEN }}"
      - name: Push image to DockerHub
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/atra-backend:${{ steps.project.outputs.tag }}
  build-front:
    runs-on: ubuntu-latest
    needs: build-back
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install and build Angular
        working-directory: frontend/ATRA
        run: |
          npm ci
          npm run build -- --configuration production
      - name: Build Docker image
        working-directory: frontend/ATRA
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/atra-frontend:${{ needs.build-back.outputs.image_tag }} .
      - name: Login to DockerHub
        run: docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" -p "${{ secrets.DOCKERHUB_TOKEN }}"
      - name: Push image to DockerHub
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/atra-frontend:${{ needs.build-back.outputs.image_tag }}

  deploy:
    runs-on: ubuntu-latest
    needs: [build-back, build-front]
    steps:
      - name: 'Az CLI login'
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: 'Run az commands to deploy backend container'
        run: |
          az container create \
            --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }} \
            --name atra-backend \
            --image ${{ secrets.DOCKERHUB_USERNAME }}/atra-backend:${{ needs.build-back.outputs.image_tag }} \
            --registry-login-server index.docker.io \
            --registry-username ${{ secrets.DOCKERHUB_USERNAME }} \
            --registry-password ${{ secrets.DOCKERHUB_READ_TOKEN }} \
            --dns-name-label atra-backend-${{ secrets.DOCKERHUB_USERNAME }} \
            --ports 8080 \
            --os-type Linux \
            --cpu 1 \
            --memory 1.5 \
            --environment-variables \
              SPRING_DATASOURCE_URL="jdbc:mysql://atra-db.mysql.database.azure.com:3306/atra?jdbc:mysql://atra-db.mysql.database.azure.com:3306/atra?serverTimezone=UTC&useSSL=true&requireSSL=true&sslMode=VERIFY_CA&sslCa=/usr/app/azure-mysql-ca.pem " \
              SPRING_DATASOURCE_USERNAME="atrauser@atra-db" \
              SPRING_DATASOURCE_PASSWORD="${{ secrets.MYSQL_PASSWORD }}"

      - name: 'Run az commands to deploy frontend container'
        run: |
          az container create \
            --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }} \
            --name atra-frontend \
            --image ${{ secrets.DOCKERHUB_USERNAME }}/atra-frontend:${{ needs.build-back.outputs.image_tag }} \
            --registry-login-server index.docker.io \
            --registry-username ${{ secrets.DOCKERHUB_USERNAME }} \
            --registry-password ${{ secrets.DOCKERHUB_READ_TOKEN }} \
            --dns-name-label atra-frontend-${{ secrets.DOCKERHUB_USERNAME }} \
            --ports 8080 \
            --os-type Linux \
            --cpu 1 \
            --memory 1
        

      - name: 'Wait for back container to start'
        run: |
          az container start \
            --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }} \
            --name atra-backend
            
      - name: 'Wait for front container to start'
        run: |
          az container start \
            --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }} \
            --name atra-frontend

  #test:
  #  runs-on: ubuntu-latest
  #  needs: deploy
  #  steps:
  #    - name: 'Checkout repo'
  #      uses: actions/checkout@v3
#
  #    - name: 'Set up Node.js'
  #      uses: actions/setup-node@v3
  #      with:
  #        node-version: '18' # or any version compatible with Artillery
#
  #    - name: 'Install Artillery'
  #      run: npm install -g artillery
#
  #    - name: 'Run Artillery test'
  #      run: artillery run deployment-test.yml
