<!--Parent Container-->
<div>
  <!--Banner-->
  <div>
    <img [src]="'/api/murals/' + mural?.id + '/banner'" class="min-w-100" id="img-mural-banner">

  </div>

  <!--Everything else-->
  <div class="grid-container w-100">
    <!--For component in activeComponentsList show component with specified style-->
    <app-grid-table class="boxItem my-2 mx-1" [title]="'Info'" [type]="'info'"></app-grid-table>
    <app-grid-table class="boxItem my-2 mx-1" [title]="'Records'" [type]="'records'"></app-grid-table>
    <app-grid-table class="boxItem my-2 mx-1" [title]="'Activities'" [type]="'activities'"></app-grid-table>
    <app-grid-table class="boxItem my-2 mx-1"[title]="'Members'" [type]="'members'"></app-grid-table>
    <app-grid-table class="boxItem my-2 mx-1"[title]="'Routes'" [type]="'routes'"></app-grid-table>
    <app-grid-table class="boxItem my-2 mx-1"[title]="'Activities'" [type]="'activities'"></app-grid-table>
    <app-grid-table class="boxItem my-2 mx-1"[title]="'Routes'" [type]="'routes'"></app-grid-table>

  </div>
  <div class="d-flex flex-wrap justify-content-start align-items-center w-100">

  </div>

</div>
